<header class="section-image brand">
  <div class="container">
  	<%= image_tag 'logo-tb.png', class: 'logo-tb' %>
  </div>
</header>
<section class="container brand space-bottom-plus">
	<p>Endemol España, fundado en 1994,  líder en producción audiovisual en nuestro país, forma parte del Grupo Endemol, presente a través de 80 compañías en 31 países como Estados Unidos, Gran Bretaña, España, Italia, Francia, Alemania, Holanda, Portugal o Suiza, además de varios países de Suramérica, India, Suráfrica y Australia. Endemol es creadora y productora de éxitos en cadenas de todo el mundo como Big Brother, Deal or No Deal, Extreme Makeover: Home Edition, Wipeout o Tu cara me suena programas que en nuestro país han sido realizados por las empresas de Endemol España.</p>
	<p>La actividad de Endemol en España se inició en 1994 con la incorporación de Gestmusic, una de las compañías más fuertes del sector audiovisual español. En 1997 se incorporó Zeppelin TV, otra de las empresas audiovisuales líderes españolas. Actualmente Endemol España está compuesta por cuatro empresas de creación y producción de contenidos audiovisuales: Diagonal TV, Gestmusic, Linze TV y Zeppelin TV.</p>
	<div class="row inspace-top-bottom">
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="#"><%= image_tag 'logo-tb-el-inversor.jpg' %></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="#"><%= image_tag 'logo-tb-el-punto.jpg' %></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="<%= root_path %>"><%= image_tag 'logo-tb-speakers-bureau.jpg' %></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="#"><%= image_tag 'logo-tb-capacitacion.jpg' %></a>
			</div>
		</div>
	</div>
	<p>Endemol España, fundado en 1994,  líder en producción audiovisual en nuestro país, forma parte del Grupo Endemol, presente a través de 80 compañías en 31 países como Estados Unidos, Gran Bretaña, España, Italia, Francia, Alemania, Holanda, Portugal o Suiza, además de varios países de Suramérica, India, Suráfrica y Australia. Endemol es creadora y productora de éxitos en cadenas de todo el mundo como Big Brother, Deal or No Deal, Extreme Makeover: Home Edition, Wipeout o Tu cara me suena programas que en nuestro país han sido realizados por las empresas de Endemol España.</p>
	<p>La actividad de Endemol en España se inició en 1994 con la incorporación de Gestmusic, una de las compañías más fuertes del sector audiovisual español. En 1997 se incorporó Zeppelin TV, otra de las empresas audiovisuales líderes españolas. Actualmente Endemol España está compuesta por cuatro empresas de creación y producción de contenidos audiovisuales: Diagonal TV, Gestmusic, Linze TV y Zeppelin TV.</p>
</section>
<footer class="brand">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-9">
				<%= image_tag 'logo-tb.png', class: 'logo-tb' %>
			</div>
			<div class="col-xs-12 col-sm-3 icons-social">
				<h4>Seguinos en:</h4>
				<a href="#"><span class="icon-social facebook"></span></a>
				<a href="#"><span class="icon-social twitter"></span></a>
				<a href="#"><span class="icon-social youtube"></span></a>
			</div>
		</div>
	</div>
</footer>