<header class="section-image brand">
  <div class="container">
  	<%= image_tag 'logo-tb.png', class: 'logo-tb' %>
  </div>
</header>
<section class="container brand space-bottom-plus">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<div class="row inspace-top-bottom">
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="#"><%= image_tag 'logo-tb-el-inversor.jpg' %></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="#"><%= image_tag 'logo-tb-el-punto.jpg' %></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="<%= root_path %>"><%= image_tag 'logo-tb-speakers-bureau.jpg' %></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="grey-box">
				<a href="#"><%= image_tag 'logo-tb-capacitacion.jpg' %></a>
			</div>
		</div>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<footer class="brand">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-9">
				<%= image_tag 'logo-tb.png', class: 'logo-tb' %>
			</div>
			<div class="col-xs-12 col-sm-3 icons-social">
				<h4>Seguinos en:</h4>
				<a href="#"><span class="icon-social facebook"></span></a>
				<a href="#"><span class="icon-social twitter"></span></a>
				<a href="#"><span class="icon-social youtube"></span></a>
			</div>
		</div>
	</div>
</footer>