<% if admin_signed_in? %>
	<div class="admin-buttons">
		<%= link_to 'Admin', admin_path %>
		<%= link_to 'Sign out', destroy_admin_session_path, method: 'delete' %>
		<%= link_to 'Contactos', contacts_path %>
		<%= link_to 'New Speaker', new_speaker_path %>
		<%= link_to 'New Post', new_post_path %>
		<%= link_to 'New Area', new_area_path %>
		<% if @speaker.present? && @speaker.name.present? %>
			<div>
				<div>Speaker</div>
				<%= link_to @speaker.full_name, @speaker, class: 'show' %>
				<%= link_to 'Edit', edit_speaker_path(@speaker), class: 'edit' %>
				<%= link_to 'Destroy', @speaker, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>
			</div>
		<% end %>
		<% if @post.present? && @post.title.present? %>
			<div>
				<div>Post</div>
				<%= link_to @post.title, @post, class: 'show' %>
				<%= link_to 'Edit', edit_post_path(@post), class: 'edit' %>
				<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>
			</div>
		<% end %>
		<% if @area.present? && @area.title.present? %>
			<div>
				<div>Area</div>
				<%= link_to @area.title, @area, class: 'show' %>
				<%= link_to 'Edit', edit_area_path(@area), class: 'edit' %>
				<%= link_to 'Destroy', @area, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>
			</div>
		<% end %>
	</div>
<% end %>