<section class="container brand space-bottom-plus">
	<h4>TB & Asociados, Productora de contenidos.</h4>
	<div class="row inspace-top-bottom">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="grey-box team"></div>
		</div>
		<% @bulat_team_members.each do |member| %>
			<div class="col-xs-12 col-sm-6 col-lg-4">
				<div class="grey-box" style="background-color:<%= member.color || '#fff' %>">
					<a href="<%= member.link %>">
						<img src="<%= asset_path member.image %>" alt="<%= member.title %>" title="<%= member.title %>">
					</a>
				</div>
			</div>
		<% end %>
	</div>
</section>