<section class="container brand space-bottom-plus">
	<h4>TB & Asociados, Productora de contenidos.</h4>
	<div class="row inspace-top-bottom">
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="grey-box team"></div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="grey-box white">
				<a href="http://www.facebook.com/elinversoroficial/"><img src="<%= asset_path 'logo-tb-elinversor.jpg' %>" alt="El Inversor Bolsero" /></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="grey-box white">
				<a href="http://www.facebook.com/benditos90radio/"><img src="<%= asset_path 'logo-tb-benditos90.jpg' %>" alt="Benditos 90" /></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="grey-box">
				<a href="https://www.youtube.com/user/ElInversorOficial"><img src="<%= asset_path 'logo-tb-el-inversor.jpg' %>" alt="El Inversor Oficial" /></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="grey-box">
				<a href="http://www.elpuntodeequilibrio.com/Home"><img src="<%= asset_path 'logo-tb-el-punto.jpg' %>" alt="El punto de equilibrio" /></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="grey-box">
				<a href="http://speakersbulat.com"><img src="<%= asset_path 'logo-tb-speakers-bureau.jpg' %>" alt="Speakers Bureau" /></a>
			</div>
		</div>
	</div>
</section>