<%= link_to 'Edit', edit_area_path(@area) if false %>
<%= render 'section_image' %>
<div class="container">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <%= dropdown 'btn-primary', 'Filtrar por Area', 'Buscar Area', @areas do |area| %>
        <div class="item" data-value="<%= area_path(area) %>"><%= area.title %></div>
      <% end %>
    </div>
    <h3 class="btn-toolbar-title primary pull-right"><%= @area.title if @area.present? %></h3>
  </div>
</div>
<%= render 'speakers/preview_boxes', speakers: @speakers %>