<%= link_to 'Edit', edit_area_path(@area) if false %>
<%= render 'section_image' %>
<div class="container">
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group" role="group">
      <select class="ui fluid search normal dropdown btn btn-primary">
        <option value="">Filtrar por Area</option>
        <% @areas.each do |area| %>
          <option value="<%= area_path(area) %>"><%= area.title %></a></option>
        <% end %>
      </select>
    </div>
    <h3 class="btn-toolbar-title primary pull-right"><%= @area.title if @area.present? %></h3>
  </div>
</div>
<%= render 'speakers/preview_boxes', speakers: @speakers %>
<% content_for :extra_js do %>
  $('.ui.dropdown.btn').dropdown({
    action: function(text, value) {
      window.location.href = value;
    }
  });
<% end %>