<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Titulo' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Texto completo' %>
    <%= f.text_area :body, class: 'tinymce' %>
  </div>
  <div class="form-group">
    <%= f.label :video, 'Video de YouTube' %>
    <p>URL completa del video de YouTube. Ej: <em>https://www.youtube.com/watch?v=2DJofghewDs</em></p>
    <%= f.text_field :video, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
