<%= link_to 'Edit', edit_post_path(@post) if false %>
<%= render 'section_image', show_back_button: true %>
<div class="container post-show">
	<h2 class="primary"><%= @post.title %></h2>
	<h3 class="post-date"><%= @post.date %> <small>TB&amp;ASOC.</small></h3>
	<div><%= @post.body.html_safe %></div>
</div>