<!-- Carousel
================================================== -->
<div id="speakersBureauCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% speakers.each_with_index do |speaker, i| %>
      <li data-target="#speakersBureauCarousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% speakers.each_with_index do |speaker, i| %>
      <div class="item <%= 'active' if i == 0 %>">
        <%= image_tag 'shadow-layer.png', class: 'shadow-layer' %>
        <%= image_tag speaker.avatar(:big) %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= speaker.full_name %></h1>
            <p><%= speaker.description %></p>
            <p><%= link_to 'Leer mas', speaker, class: 'btn btn-primary', role: 'button' %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#speakersBureauCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#speakersBureauCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->