<% content_for :extra_js do %>
  Utils.inputTextArray();
<% end %>

<%= form_for @speaker, :html => { :multipart => true } do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :information %><br>
    <%= f.text_area :information, class: 'tinymce form-control' %>
  </div>
  <div class="field">
    <%= f.label :visible_on_home %><br>
    <%= f.check_box :visible_on_home %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar, accept: 'image/*', class: 'form-control' %>
  </div>
  <div class="field">
    <%= label_tag 'speaker_images_' %><br>
    <%= file_field_tag 'speaker_images[]', multiple: true, accept: 'image/*', class: 'form-control' %>
  </div>
  <div class="field" style="margin-bottom:15px;">
    <%= label_tag 'speaker_areas_' %><br>
    <div class="form-control" style="padding:3px 5px;">
      <% if @speaker.areas.present? %>
        <% @speaker.areas.each do |area| %>
          <%= text_field_tag 'speaker_areas[]', area.title %>
        <% end %>
      <% end %>
      <%= text_field_tag 'speaker_areas[]' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
