<%= form_for @speaker, :html => { :multipart => true } do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :information %><br>
    <%= f.text_area :information, class: 'text-edit' %>
  </div>
  <div class="field">
    <%= f.label :visible_on_home %><br>
    <%= f.check_box :visible_on_home %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= label_tag 'speaker_images_' %><br>
    <%= file_field_tag 'speaker_images[]', multiple: true %>
  </div>
  <div class="field">
    <%= label_tag 'speaker_areas_' %><br>
    <%= text_field_tag 'speaker_areas[]' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
