<div class="fill-light-grey box">
	<h4>Buscar Speaker</h4>
	<div class="btn-group-justified">
	  <div class="btn-group" role="group">
	  	<%= dropdown 'btn-invert', 'Por nombre', 'Buscar speaker', @speakers.each do |speaker| %>
	  		<div class="item" data-value="<%= speaker_path(speaker) %>"><%= speaker.full_name %></div>
	  	<% end %>
	  </div>
	  <div class="btn-group" role="group">
	  	<%= dropdown 'btn-invert', 'Por tema', 'Buscar tema', @areas do |area| %>
	  		<div class="item" data-value="<%= area_path(area) %>"><%= area.title %></div>
	  	<% end %>
	  </div>
	</div>
	<div class="btn-group-justified">
		<div class="btn-group search-group" role="group">
			<span class="glyphicon glyphicon-search"></span>
			<input type="text" class="form-control" placeholder="Por palabra">
		</div>
	  <div class="btn-group" role="group">
	  	<a href="#" class="btn btn-primary" role="button">Buscar</a>
	  </div>
	</div>
</div>