<div class="section-speaker-profile">
  <%= image_tag 'shadow-layer.png', class: 'shadow-layer' %>
  <%= image_tag @speaker.avatar(:big) %>
  <div class="container">
    <div class="section-speaker-profile-caption">
      <h1><%= @speaker.full_name %></h1>
      <p><%= @speaker.description %></p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#information" aria-controls="information" role="tab" data-toggle="tab">Información</a>
        </li>
        <li role="presentation">
          <a href="#area" aria-controls="area" role="tab" data-toggle="tab">Area</a>
        </li>
        <li role="presentation">
          <a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a>
        </li>
        <li role="presentation">
          <a href="#images" aria-controls="images" role="tab" data-toggle="tab">Imagenes</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="information">
          <div><%= @speaker.information.html_safe %></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="area">
          <p><%= @speaker.description %></p>
          <p>Categorias:
            <% last_index = @speaker.areas.count-1 %>
            <% @speaker.areas.each_with_index do |a, i| %>
              <%= link_to(a.title, a) + (i != last_index ? ', ' : '.') %>
            <% end %>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane" id="videos">
          <% @speaker.speaker_videos.each do |speaker_video| %>
            <div class="video-box">
              <div class="youtube-video">
                <iframe src="<%= speaker_video.embed_url %>" frameborder="0" allowfullscreen></iframe>
              </div>
              <h3 class="primary"><%= speaker_video.title %></h3>
            </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="images">
          <div class="row speaker-profile-images-list">
            <% @speaker.speaker_images.each do |speaker_image| %>
              <div class="col-xs-6">
                <% if admin_signed_in? %>
                  <%= link_to 'Eliminar imagen', speaker_image, method: :delete, remote: true, data: { confirm: 'Are you sure?', type: 'json' }, class: 'btn btn-danger btn-block' %>
                <% end %>
                <%= image_tag speaker_image.image(:standard), class: 'cover' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 speaker-profile-contact">
      <%= link_to 'Consultar tarifas y disponibilidad', new_contact_path(@speaker), class: 'btn btn-block btn-primary' %>
      <%= link_to @speaker.twitter, target: '_blank', class: 'btn btn-block btn-twitter' do %>
        Seguí a <%= @speaker.full_name %>
        <%= image_tag 'icon-twitter.png' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <h3 class="primary fill-grey title-block">Speakers Similares</h3>
</div>
<%= render 'preview_boxes', speakers: @similar_speakers %>
<% if admin_signed_in? %>
  <% content_for :extra_js do %>
    Utils.deleteSpeakerImages('#images a[data-remote]');
  <% end %>
<% end %>