<p>
  <strong>Name:</strong>
  <%= @speaker.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @speaker.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @speaker.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @speaker.description %>
</p>

<p>
  <strong>Information:</strong>
  <%= @speaker.information.html_safe %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @speaker.twitter %>
</p>

<p>
  <strong>Areas:</strong>
  <% @speaker.areas.each_with_index do |a, i| %>
    <%= a.title + (i != @speaker.areas.count-1 ? ', ' : '.') %>
  <% end %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag @speaker.avatar(:big) %>
</p>

<p>
  <strong>Image:</strong>
  <% @speaker.images(:thumb).each do |image| %>
    <%= image_tag image %>
  <% end %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
