<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/navigation' %>
	<%= yield %>

<script>
  $(function() {
    <% if content_for? :extra_js %>
      <%= yield :extra_js %>
    <% end %>
  });
</script>
<%= tinymce %>
</body>
</html>
